.layout-footer {
	background-color: var(--primary-color-light);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	box-sizing: border-box;
	display: grid;
	grid-area: footer;
	padding: 0.5rem 1rem;
	grid-template-areas: "title title" "contact logos" "break break" "copy menu";
	grid-gap: 1rem;
	color: var(--tertiary-color);

	ul {
		box-sizing: border-box;
		list-style: none;

		li {
			display: inline-block;
			margin-right: 0.5rem;

			&::after {
				margin-left: 0.5rem;
				content: "•";
			}

			&:last-of-type {
				margin-right: 0;

				&::after {
					content: "";
				}
			}
		}
	}

	a {
		color: var(--tertiary-color);
	}

	.footer-title {
		font-family: var(--slab-font), serif;
		font-size: 1.3rem;
		grid-area: title;
		text-transform: uppercase;
	}

	address {
		font-style: normal;
		grid-area: contact;
		text-decoration: none;
	}

	.logos {
		color: white;
		grid-area: logos;
		justify-self: self-end;

		.sorop-novato {
			width: 112px;
			margin-right: 1rem;
		}

		.sorop-international {
			width: 100px;
			margin-right: 0.5rem;
		}
	}

	.footer-menu {
		grid-area: menu;
		justify-self: self-end;
	}

	.break {
		border-top: 1px solid white;
		display: block;
		grid-area: break;
		height: 2px;
	}

	.copyright {
		grid-area: copy;
		justify-self: self-start;
	}
}

@media (width <= 900px) {
	.layout-footer {
		grid-template-areas: "title" "contact" "logos" "break" "menu" "copy";
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, min-content);

		.footer-menu {
			justify-self: center;
		}

		.logos {
			justify-self: center;
		}
	}
}
